<footer class="footer page__footer">
	<div class="footer__inner layout__wrap">
		<div class="footer__logo">{% include "blocks/logo/logo.njk" %}</div>
		<div class="footer__copyright">All rights reserved by LuckyStarsSlot.com © 2022</div>
		<div class="footer__disclaimer">Our target audience for this free online board game is adults only. In addition, the games do not offer users "real money" or give people a chance to win concrete prizes or real money. Remember that education and success with online casino titles does not mean you are guaranteed to win "real money" games. Because our titles are completely free, you don’t have to use real money when you play.</div>
	</div>
</footer>